# Fichiers de configuration
.env
config.php

# Dépendances
/vendor/
/node_modules/

# Fichiers de base de données
*.sql
*.sqlite

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers d'IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Fichiers de logs
*.log
logs/

# Fichiers temporaires
*.tmp
*.temp
*.swp 